[2013-02-01 23:19] gourleyman opened #1 "MSBuild fails when intermediateDir is specified due to missing trailing slash"
I am getting this error when I try to specify the 'intermediateDir' for a 'msbuild' task:

C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(618,5): error : The IntermediateOutputPath must end with a trailing slash.

I was able to get a fix working locally.  I can send a patch if you like, but essentially all that really needed to be done was add the slash.  My patch has a few

[2013-02-08 22:01] #1 closed, assigned to nobody

[2013-07-03 06:26] crazylexa opened #2 "WinPhone"
Hello! How i can build winPhone project with your gradle plugin for msbuild?

[2013-10-14 17:10] dkotvan opened #5 "Add Mage.exe and SignTool support"
My project's release process needs to update both the app and deploy manifests and signing some executables. It would be nice if I had support to mage.exe and signtool.exe on this plugin.

[2013-11-05 09:50] laurre opened #6 "Error : Could not determine the dependencies of task ':msbuild'."
Hello,

Firstly, thanks for this msbuild plugin.

I have an error when trying to launch my build file. Here it is :

buildscript {
	repositories {
	  mavenCentral()
	}
	dependencies {
		classpath "com.ullink.gradle:gradle-msbuild-plugin:1.7" //or 1.6, same problem
	}
}

apply plugin:'msbuild'

msbuild {
  // mandatory
  projectFile = 'MyProject.csproj'

  // Verbosity (/v:detailed, by default uses

[2013-12-17 11:42] cwarren-mw opened #8 "Order of msbuild projects"
I have a build that involves two csproj files and one wixproj (to build the installer). In the build.gradle, the two csproj projects are defined first, and then the wixproj configuration is added. But when I try running the build, it tries building the installer first. This fails, of course, because none of the files it is looking for have been built.

Is there a way to force the projects to build

[2013-12-26 13:26] #8 closed, assigned to nobody

[2014-02-14 11:17] markusamshove opened #9 "ClassNotFoundException"
Hello!

I'm trying to work the first time with the msbuild plugin and I can't even get a simple buildscript running.

My build.gradle:

apply plugin:'msbuild'

buildscript {
    repositories {
        maven {
            url "http://artifacts/repos"
        }
    }
    dependencies {
        classpath 'com.ullink.gradle:gradle-msbuild-plugin:1.+'
    }
}

msbuild {

[code]

}

It is downloading al

[2014-05-19 15:04] cwarren-mw opened #10 "Using the latest MSBuild (12.0)"
When the Project tag has ToolsVersion="12.0", I'm getting the "Could not determine the dependencies of task" error, with this down in the stack trace:

Caused by: java.io.FileNotFoundException: C:\Program Files (x86)\MSBuild\12.0\Bin\amd64 (Access is denied)

Switching ToolsVersion to 4.0 fixes the problem, but we'll eventually want to use MSBuild version 12.0. Has there been any investigation of

[2014-06-30 10:53] pubudut opened #11 "How manage third party dependencies with msbuild plugin"
I would like to know how to manage third party dependencies such as log4net with plugin.

[2014-07-03 16:04] #11 closed, assigned to nobody

[2014-07-20 10:39] DuncanSungWKim opened #12 "destinationDir is not working."
When I set 'destinationDir' and run "gradle msbuild", I get the following error.

[code]

I'm using the version 1.9.

When I remove it, it succeeds.

My environment is
- Gradle 2.0
- Groovy 2.3.3
- JVM 1.8.0 (Oracle Corporation 25.0-b70)
- Windows 7 6.1 amd64

[2014-10-28 17:40] DKroot opened #13 "Can't build the plug-in from source"
I'm getting the following error when doing:

.../gradle-msbuild-plugin-master>gradle
- Where:
  Script 'https://raw.github.com/gluck/gradle-scripts/master/gradle-plugin-base.gradle' line: 22
- What went wrong:
  A problem occurred evaluating script.

I tried it on two different OSes:
1. Mac / OS X Mavericks with Gradle 2.1 and Groovy SDK installed
2. Windows 8.1 with Gradle 2.0

[2014-12-27 16:18] #13 closed, assigned to nobody

[2014-12-27 16:20] #2 closed, assigned to nobody

[2014-12-27 16:21] #9 closed, assigned to nobody

[2014-12-27 16:27] #12 closed, assigned to nobody

[2014-12-28 18:08] ysb33r opened #18 "Please publish to Gradle Plugins Portal"
Here's the detail on what you need to do  - http://plugins.gradle.org/submit.

Using https://github.com/etiennestuder/gradle-plugindev-plugin by @etiennestuder will make your life significantly easier in this regards.
I
f you need help, just shout out.

[2015-01-02 10:23] gluck commented on #18
That wasn't quite smooth, but it should be available now, if you want to give it a try !

[2015-01-02 10:23] #18 closed

[2015-01-02 13:09] ysb33r commented on #18
It has not appeared on plugins.gradle.org yet, but it looks from bintray like you have loaded the correct information. (When it appears I'll tweet about it).

[2015-01-07 11:54] FLMFreddy opened #19 "Is possible to specify a custom location of xbuild?"
Just wanted to know if this was possible to do this?

[2015-01-07 14:09] FLMFreddy commented on #19
Works like a charm, thanks!

[2015-01-07 14:09] #19 closed

[2015-01-20 15:31] Lugoues opened #21 "Solution parsed multiple time when projectName is not found."
Is the source code for these two executables available?

[2015-01-20 15:46] gluck commented on #21
Pretty nicely hidden there: https://github.com/gluck/mono/tree/projectparser/mcs/class/ProjectFileParser

mono version is built against mono version of Microsoft.Build libs (and repacked with its deps), windows version is built with std microsoft versions (and repacked).

This needs to be cleaned up definitely.

[2015-01-20 16:08] Lugoues commented on #21
Thanks! I am attempting to see why it takes 2+ minutes to parse our large solution file. Maybe even add an option to not parse the projectfile if there is no way to speed it up.

[2015-01-20 16:13] gluck commented on #21
not parsing the project file will limit a lot the usage of the plugin (no knowledge of inputs/ouputs), lots of duplication.

Maybe the JSON output is what takes ages ? (under windows we're using the same parser MSBUILD itself must be using)

[2015-01-20 17:20] Lugoues commented on #21
I see the problem. I want to build the entire solution but Msbuild.groovy:129 requires a project name to select a single project from the solution to target for the `projectParsed` variable. In the end though, the output of a single project is not enough "output" when you are attempting to build the entire solution, is it?

[2015-01-20 17:28] gluck commented on #21
I see, yes we need to identify the (main) project you want to build out of the solution. Don't think there's a way to fix that, and it wouldn't make sense to consider the outputs of all projects (I think).

Definitely the code should be more informative and either cache the failure to resolve or warn about the fact, thanks for debugging this through.

[2015-01-21 07:48] #21 closed

[2015-02-10 20:54] FLMFreddy opened #23 "Msbuild fails to create a task when running on Mac OSX"
Is there a known issue on osx where it fails to create the a task?

* What went wrong:
A problem occurred evaluating root project 'TxtToCsAndCpp'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

Full stacktrace:

* Exception is:
org.gradle.api.GradleScriptException: A problem occurred evaluating root project 'TxtToCsAndCpp'.

[2015-02-24 14:34] alanmosely commented on #6
Try with 2.3, I had the same issue with 2.1 and it was fixed by moving to 2.3

[2015-02-26 15:49] DPalagi commented on #6
Hi guys! I'm trying to build a Windows Phone 8.1 application through gradle and this cool plugin (thanks  for the work =) ) but I have the same issue, even in v2.3. Please can someone show me his build.gradle file?

Here is mine :

"buildscript {
    repositories {
      mavenCentral()
    }
    dependencies {
        classpath "com.ullink.gradle:gradle-msbuild-plugin:2.3"
    }
}
apply plugin:'ms

[2015-03-06 21:47] DKroot commented on #6
Tried again with plug-in 2.3 and Gradle 2.3 and failed again. Back to plug-in v1.6.

In the meantime, here is my build.gradle
[code]

And here is the project file, iReport.Service.csproj:

[code]

[2015-03-24 18:34] DKroot commented on #6
I tracked down the issue to building project from a parent directory:

projectFile = 'src/main/asp.net/NIHiReport/iReport.Service/iReport.Service.csproj'

If I go down and run Gradle from the C# project dir., everything works.

I have a different issue BTW, which might have the same cause. How can I tell MSBuild to run from a specific working directory? I'm looking into that now.

[2015-04-22 20:35] tekuser opened #28 "Cannot execute ProjectFileParser.exe from user's temp dir in Windows 7"
Hello,

I am using Windows 7 and gradle is not able to execute ProjectFileParser.exe from the users's temp directory (C:\Users\XXX\AppData\Local\Temp).

After a search on google, it seems that the problem comes from the security permission on the temp folder. The user should take ownership and full control of the temp folder.

Anyway, I think that it would be great to add a property (parserTempDir

[2015-04-23 19:48] tekuser commented on #28
Well, in fact, for security reasons, it is possible in windows to forbid the execution of a program from the local temp dir. This is the case where I am working. So the only way for me to use this plugin is the copy the ProjectFileParser.exe file in the gradle's temporaryDir.

[2015-04-24 12:23] gluck commented on #28
it should extract to gradleUserHome dir (~/.gradle) instead (where gradle already put its binaries from wrapper download). Do you know if this folder would be executable-friendly (I'd think it is) ?

[2015-04-24 14:08] tekuser commented on #28
It extracts to the user's temp directory because of this instruction:
def tmp = File.createTempFile('ProjectFileParser', '.exe')

createTempFile will create a temporary file in the user's temp dir (C:\Users\XXX\AppData\Local\Temp)

I think it is better to extract to the gradle build directory of the plugin (build/tmp/msbuild/). This can be done by using the temporaryDir in the msbuild block.

I ha

[2015-04-25 20:17] gluck commented on #23
You need mono in your PATH for msbuild project file parsing

[2015-04-30 20:15] tekuser opened #31 "Warning message: Project XXX found in solution, disabling input/output optimizations"
Hello,

I am using this plugin to build a Visual Studio C++ solution. This solution contains around 15 projects (vcxproj). I want to compile the whole solution so I set the "projectFile" and ignore the "projectName".
When I run gradle (no matter of the task to execute), I receive the warning message:

Project XXX found in solution, disabling input/output optimizations

First, there is a mistake in

[2015-05-02 13:39] gluck commented on #31
Not really a use case I anticipated, but it can't hurt to support it.
Thanks.

[2015-05-14 20:00] #31 closed

[2015-05-21 13:52] #10 closed

[2015-05-21 13:58] #23 closed

[2015-07-16 14:33] iliketosneeze opened #38 "Could not find method assemblyInfoPatcher()"
Hi,

I'm trying to build a very simple project with the sample build file provided.

```Could not find method assemblyInfoPatcher() for arguments [build_6ayt6vpk7zunfhrs63upg3ynr$_run_closure2@59e2a4]```

[code]

What could I be missing?

Thanks in advance!

[2015-07-16 14:53] gluck commented on #38
cf the (newly-created) changelog, the assemblyInfoPatcher has been added in 2.9 plugin version, you must use that one instead of 2.1.

I'll update the README !

[2015-07-16 15:07] iliketosneeze commented on #38
Thanks!

[2015-07-16 15:07] #38 closed

[2015-07-30 11:51] sinur opened #40 "Specify the destination of dll-files"
I want to create my dll-files in a folder of my choice, but even if I define destinationDir, they are always created in the default folder

My task looks as follows:
task createReleaseDllForWin32(type: Msbuild){
	onlyIf{ OperatingSystem.current().windows }
	solutionFile = "path/to/solutionfile.sln"
	configuration = 'Release'
	platform = "Win32"
	targets = ['Clean','Build']
	destinationDir = "build

[2015-07-30 12:30] gluck commented on #40
Hi,

if you run gradle with -i (or --info), you'll see the exact msbuild command used, e.g.
[code]

Can you check whether the command is correct and builds in the proper location ?

It seems that there's a bug in the up-to-date checking of the task in regards to the provided properties (e.g. OutputPath), but the msbuild command looks correct to me.

[2015-07-30 12:57] sinur commented on #40
I checked it and in the commandline has /p:OutputPath=C:\Users\[...]\build/msbuild/bin, but it still builds in the folder specified in the project file

[2015-07-30 13:01] gluck commented on #40
OutputPath may not be the right property to set for your project type no ?

[2015-07-30 13:18] sinur commented on #40
Yes, OutDir was the property i was looking for.
I replaced the destinationDir line with:
parameters.put("OutDir", "$projectDir/build/msbuild/bin")
Now it works as intended, thank you

[2015-07-30 13:18] #40 closed

[2015-07-30 13:24] gluck commented on #40
Note that ideally the plugin should handle that, although I'm not sure I can find a setting that would work for every solution mix...

Thx !

[2015-07-30 14:31] banderous commented on #6
@DKroot I believe you want to declare your 'projectFile' inside a file declaration, so that gradle will interpret it relative to your project root and not your current working directory;

projectFile = file('src/main/asp.net/NIHiReport/iReport.Service/iReport.Service.csproj')

[2015-08-11 18:19] melston opened #41 "Dependent Projects"
I have a project with the NUnit unit tests in a subdirectory (UnitTests).  I am trying to create a multiproject build where the root solution gets built first and the UnitTest solution gets built and run second.  I tried creating a settings.gradle with a single "include 'UnitTests'" and then adding the following to the root build.gradle:

    evaluationDependsOn(':UnitTests')

    allprojects{

[2015-08-12 06:37] gluck commented on #41
Hi Mark,

I'm not very familiar with gradle multiprojects, but I'll give it a guess anyway :)
AFAICT there's no "compile" configuration defined when using msbuild, hence you can't use dependencies this way. Also this plugin simply wraps msbuild, so you need to define dependencies in your csproj, not in your build.gradle.

That being said, what's your goal from using multiproject build for UTs of a

[2015-08-12 17:41] melston commented on #41
Thanks for getting back to me Francois.

This is an artifact of how we have the projects set up already.  We have a
single Core solution made up of (mostly) DLL projects.  Inside the Core
project tree we also have a UnitTests folder with a separate solution file
for it.  In that folder tree are NUnit test projects to test each of the
DLLs in the Core.

We set it up this way before looking at Gradl

[2015-08-13 07:30] gluck commented on #41
You're welcome, note that at work we're using gradle together with jenkins for continuous integration / nightly builds, it's fairly easy with the gradle wrapper comitted on the repository.

[2015-08-13 07:30] #41 closed

[2015-08-30 14:57] DKroot commented on #6
That worked very nicely, thanks!

[2015-08-31 12:37] #6 closed

[2015-09-03 05:20] novabyte opened #46 "XBuild resolver problem with Mono on OSX"
I think I've stumbled upon a resolution error with the `XBuildResolver` code. I have Mono installed on OSX via Homebrew:

[code]

If I use `which` I can see:

[code]

`xbuild` is a "POSIX shell script text executable". The file itself looks like:

[code]

At the moment with my simple test project I get the following output when run with `--info` level:

[code]

I believe the problem is that the pl

[2015-09-03 06:57] timotei commented on #46
Do you also have the "normal" mono runtime installed, without using macports or brew or fink? Because it seems you also have it installed in /usr/local/lib.

Just tested this particular case and indeed, seems it's better to parse the contents of the xbuild file to detect the root of the *current* xbuild.

[2015-09-03 15:26] novabyte commented on #46
Hi @timotei. Thanks for getting back to me.
I installed the standard Mono runtime using `brew install mono` with Homebrew. I also have Unity Editor installed as well as Xamarin. It may be that another installation is being used to look up the path to the Mono runtime.

[2015-09-06 11:25] novabyte commented on #46
@timotei Is there some way I can override the `XBuildResolver` and supply my own implementation with the plugin?

[2015-09-06 13:52] timotei commented on #46
Sorry @novabyte, was pretty busy and couldn't look at it. I'll do it after 13th of September if not solved by then :)

With regards to the resolver, the msbuild plugin has the [resolver property](https://github.com/Ullink/gradle-msbuild-plugin/blob/master/src/main/groovy/com/ullink/Msbuild.groovy#L32) which you can set to an implementation of [IExecutableResolver](https://github.com/Ullink/gradle-

[2015-09-06 16:51] novabyte commented on #46
@timotei Perfect. I'll work around it with my own implementation of `IExecutableResolver`. :smile:

[2015-09-06 17:07] timotei commented on #46
If you feel that you can contribute it back (and is general enough), feel free to open a Pull Request ;)

[2015-09-07 11:47] novabyte commented on #46
@timotei If I get some time I'll generalise the `IExecutableResolver` for `xbuild` and submit a PR but right now I've completed hacked the project together to move forwards quickly with:

[code]

It is of course no use at all in the general case.

[2015-09-26 14:13] timotei commented on #46
First problem is that on Mac OS X we can't "associate" .exe files to the mono runtime, like we can on Linux. Also for some reason the test is failing but it wasn't at the time I implemented the support.

@novabyte Could you maybe check my pr https://github.com/Ullink/gradle-msbuild-plugin/pull/47 here?

[2015-09-26 14:14] novabyte commented on #46
@timotei Sure. I'll take a look tomorrow morning - I'm away from the laptop atm. :smiley:

[2015-09-27 21:33] #46 closed

[2015-09-30 13:51] timotei commented on #46
@novabyte Any update?

[2015-10-04 17:37] novabyte commented on #46
Hi @timotei Sorry I've not gotten back to you sooner. Things have been very busy (as always). Everything works very well; I tested with the latest 2.11 release. No more need for my workaround. :smiley:

[2015-11-19 10:56] ilivit opened #51 "Could not find property 'files' on task ':msbuild'."
Gradle fails to start when the `projects` property in `assemblyInfoPatcher` section of build.graddle is set to non empty array of strings. I tried to trace a problem and found that it appears at AssemblyInfoVersionPatcher (31:66), but I have no idea how to fix it.

Here is a [gradle stacktrace](https://github.com/Ullink/gradle-msbuild-plugin/files/38843/gradle.stacktrace.txt)

[2015-11-19 16:52] magmax opened #52 "Attribute "label" in element "import" is unrecognized."
While parsing my solution:
[code]
The `csproj` file contains:

[code]

With the offending attribute.

IMHO, the parser should ignore any non-known attribute.

[2015-12-03 14:25] sergey-selivanov opened #53 "task 'msbuild' fails when gradle-properties-plugin is used"
If to add gradle-properties-plugin to the build, msbuild task fails without clear reason:

[code]

Gradle-properties-plugin is here: https://github.com/stevesaliman/gradle-properties-plugin
Full build log and build.gradle:

[log.txt](https://github.com/Ullink/gradle-msbuild-plugin/files/50879/log.txt)

[build.gradle.txt](https://github.com/Ullink/gradle-msbuild-plugin/files/50880/build.gradle.txt)

[2015-12-03 14:47] gluck commented on #53
Hi,

do you mean the build works fine without Gradle-properties-plugin applied ?
It'd help if you were to provide a minimal build which fails, right now I can't see which GString/closure is failing.

Maybe check the properties you're injecting ? could be that one of them is conflicting with msbuild.

[2015-12-03 15:05] sergey-selivanov commented on #53
Hi gluck,

1) yes, build perfectly works without gradle-properties-plugin. It is sufficient to simply add "apply plugin: 'net.saliman.properties'" line to get failure in msbuild.

2) I will try to prepare minimal build but can't promise how soon. I'll use Visual Studio Community 2013, please tell if that matters.

3) As I can judge, 5 my properties are injected by that plugin: artifactory_password

[2015-12-03 17:36] sergey-selivanov commented on #53
Here is the minimal build to reproduce the issue - rename attached file to .zip
Run 'gradle clean msbuild': runs OK
Uncomment line 12 in build.gradle, run 'gradle clean msbuild': exception.
Reproduces with gradle 2.9, 2.5.

[test-gradle-plugins.zip.txt](https://github.com/Ullink/gradle-msbuild-plugin/files/51100/test-gradle-plugins.zip.txt)

[2016-01-04 11:16] redrezo opened #54 "Please release a newer version to central"
atm 2.11 from october 2015 is the latest release on central
I'd like to use the new informationalVersion feature which was added in november
please consider releasing a new version to central

[2016-01-07 09:48] gluck commented on #54
Released 2.12 right now ! :shipit:

[2016-01-07 09:48] #54 closed

[2016-01-26 14:00] samalm321 opened #55 "Bad handling of path parameters in a Linux environment"
Under Msbuild.groovy we have the code
[code]
which doesn't look right on a Unix environment.
I have a case similar to the documented help:

These paths will be modified to contain a '\' in the end, causing the output to be copied to the wrong directory with the wrong name, e.g. (file 'bin\some_lib.dll' will be placed under build/ instead of build/bin/some_lib.dll)

[2016-02-03 15:01] amitron72 opened #56 "Error during project file parsing: System.InvalidCastException: Unable to cast object of type 'System.Xml.XmlComment' to type 'System.Xml.XmlElement'."
I'm getting this exception:
`16:57:34.499 [DEBUG] [org.gradle.api.Project] Msbuild plugin detected. Will add defaults from it.
16:57:34.500 [INFO] [org.gradle.api.Task] Parsing file my_lib.sln ...
16:57:35.031 [ERROR] [org.gradle.api.Task] Error during project file parsing: System.InvalidCastException: Unable to cast object of type 'System.Xml.XmlComment' to type 'System.Xml.XmlElement'.
16:57:35.

[2016-02-09 13:07] gluck commented on #56
You're probably hitting a [known issue](http://stackoverflow.com/questions/8726590/compile-c-application-on-c-sharp). If you can rollback your csproj to `ToolsVersion` <14 (I think, e.g. 12), it'll work.

(newer msbuild target files can't be loaded with the old MS build engin we're using)

Hopefully #57 will land and fix this, but it hasn't been thoroughly tested (yet), feel free to give it a try

[2016-02-19 10:49] #51 closed

[2016-02-19 10:49] #52 closed

[2016-02-19 10:49] #56 closed

[2016-03-29 09:08] gamma opened #59 "Plugin ID not found."
I've set up the gradle script with the msbuild plugin as stated in the Readme.md. It does not work and throws "Plugin with id 'msbuild' not found".

It does not matter whether I use the 2.9 or 2.10 version and if I try it on Windows or OSX - it should at least be able to set up the plugin and start the process.

Any ideas on this?

[2016-03-29 09:17] gamma commented on #59
I'm using the old plugin syntax since we have to put such stuff into tools files. I had to use:

    apply plugin: com.ullink.MsbuildPlugin

to make it work.

[2016-03-29 09:17] #59 closed

[2016-03-29 09:21] gluck commented on #59
You'll get this error if the plugin jar isn't in your dependencies. Did you include the following block before applying the plugin ?
[code]

Note that alternatively you can use the newer plugins gradle syntax, cf https://plugins.gradle.org/plugin/com.ullink.msbuild

[2016-03-29 09:26] gamma commented on #59
We're using artifactory as internal cache repository, so the build script syntax is a bit different, but it downloads the specified version. I think it is in the classpath then.

I tried the syntax from the plugins.gradle.org page, but it also fails. I have to use the syntax as I posted above. But thanks so far :)

[2016-04-21 12:40] bluegod359 commented on #53
Hi, did anyone work out what the issue was. I've just encountered this and I'm using saliman plugin for picking env property file and then trying to kick off msbuild.

[2016-04-22 12:29] gdurand opened #60 "Cannot get property 'MSBuildProjectName' on null object when building a project file with assemblyInfoPatcher task"
I have this error when the build is configuring. If I specify a solution file it works fine and if I specifify a project file and remove the task assemblyInfoPatcher it works fine.
The solution contains several projects.
The project and solution are attached: [project_and_solution.zip](https://github.com/Ullink/gradle-msbuild-plugin/files/231759/project_and_solution.zip)

<pre>
msbuild {
	//depend

[2016-04-26 13:53] gluck commented on #53
Hi, saliman plugin seems to inject methods in each task ExtensionAware properties (`task.ext["foo"] = closure`), this messes up this plugin which assumes these properties are to be passed down to msbuild.

Not sure if this (a bit intrusive) behavior is intended. Maybe it can be workaround on this plugin side, but the logic to decide which properties are to be passed down to msbuild would be cranky

[2016-04-26 14:17] gluck commented on #60
Hi, it's usually a bad idea to build a csproj outside of a solution context (e.g. nuget restores packages relative to solution directory, and solution configuration can alter configuration/platform for referenced projects), may I ask why you need to do it ?

That being said it'd be nice for this plugin not to crash in that scenario :)

[2016-04-26 14:30] gdurand commented on #60
In my solution, in Debug config, all the dependencies of my main project are built. For release I want only the main project to be built. I can achieve this by specifying only the main project in the Release config or create a "Debug Main" config, but I saw the option to build only 1 project in your plugin so I tried to use it. I can still work with the Release config and the solution. I just want

[2016-04-26 14:43] gluck commented on #60
This is actually fixed by #58 already, will be in vNext

[2016-04-26 20:47] anasmughal opened #61 "C++ Builds"
Any plans to support C++ builds on windows?

[2016-04-26 22:21] gluck commented on #61
Nothing in my plans (no need for it), but this plugin is open to contributions for that to work.
Note that I wouldn't be surprised if there was very little stuff to do for that to happen, this plugin is mostly a sln/*proj parser/wrapper, it doesn't know much about the languages themselves.

Did you give it a try?

[2016-04-27 18:25] anasmughal commented on #61
That makes sense... Let me give it a try. Thank you so much for getting back to me.

Sure, I would love to contribute if I make any changes to make it work.

[2016-05-06 10:37] novabyte commented on #55
I have this problem as well. What is the intention behind adding `\\` to the output paths?

[2016-05-06 12:07] gluck commented on #55
as far as I remember this was required because msbuild tasks on windows didn't append the separator automatically.
One would have to check if mono msbuild also requires this, and either add the proper sep for mono, or not add it at all.

Any idea which case it is ?

[2016-05-14 05:50] eatdrinksleepcode opened #62 "XBuildResolver fails on OSX with Mono 4.4.0"
On my OSX system (El Capitan), I have the following framework versions in my Mono 4.4.0 installation:

[code]
Note the "-api" suffix on several of the versions. I am not entirely sure what they are for, but they seem to be normal for Mono 4.4.0. XBuildResolver fails to handle these suffixes correctly and throws an exception. The problem is that XBuildResolver initially uses the undocumented Groovy

[2016-05-16 08:32] #62 closed

[2016-05-19 15:27] chefhoobajoob opened #64 "Project files not found by AssemblyInfoPatcher if in different directory from solution"
I have a source tree like so, where the solution file defines the paths to its constituent projects:

[code]

This minimal configuration appears to successfully build every project in the solution:

[code]

And, I was hoping that setting the assembly versions for all of the projects would be as simple as:

[code]

...but no matter what I configure for the patcher, even if I omit the `projects` con

[2016-05-19 15:37] gluck commented on #64
This should work, do you have the full stack of the error you get ? (`gradlew -is`)
The patcher only patches the main project by default, because it wouldn't make sense to patch NUnit projects (for instance) in same solution, but listing the project names as you did is the expected usage.

Thx !

[2016-05-19 15:49] chefhoobajoob commented on #64
It's not very informative, but here's the output from `gradle -is` leading up to the message above:

[code]

[2016-05-19 16:09] gluck commented on #64
This error suggest you configured msbuild task with:

    msbuild {
        project = 'project-a'
         ...
    }

It also doesn't seem to be relevant to the assembly info patcher task, so you'll probably still have the error if you remove the task (do you ?).
Maybe attach you sln content ?

[2016-05-19 16:19] chefhoobajoob commented on #64
There are other problems - the msbuild command that is run does not appear to honor the Visual Studio version specified in the solution file.

Here are the first few lines of the solution file:

[code]

...note that it is a Visual Studio 2010 solution.  But, here is the output from `gradlew -is`:

[code]

...it appears to be using whatever the latest version of Visual Studio is installed on the sy

[2016-05-19 16:28] chefhoobajoob commented on #64
Curioser and curioser.

When I remove the patcher config, the `not found in solution` message goes away.

But, I should have checked the `AssemblyInfo.cs` file, because despite this message, the version number _is_ getting substituted.

Not sure what the message is telling me, but it appears to be a red herring.

Unfortunately, I can't get it to run the right version of `msbuild`, though. Any idea

[2016-05-19 16:33] chefhoobajoob commented on #64
Should I open a separate issue for the `msbuild` version?

[2016-05-30 08:17] gluck commented on #64
You can configure the msbuild version like that:

    msbuild {
        version = '10.0'
    }

Regarding the other error I'm out of guesses sorry.

[2016-06-21 17:20] anasmughal commented on #61
This plugin worked for our C++ Visual Studio Project. It built the entire solution. Now, I am in the process of setting up a continuous build system using this plugin. I will report back any updates.

Thank you so much for sharing this plugin.

[2016-06-21 17:20] #61 closed

[2016-06-22 07:24] gluck commented on #61
Good news, thanks for sharing!

[2016-06-23 19:27] avgjoe77 opened #67 "Not compatible with 32-bit windows 7"
Currently, using 2.9, the msbuild plugin fails with the following, only on 32-bit windows:

    :msbuild FAILED

    FAILURE: Build failed with an exception.

    * What went wrong:
    Execution failed for task ':msbuild'.

This comes from missing safe navigation in [MsbuildResolver.groovy:38](https://github.com/Ullink/gradle-msbuild-plugin/blob/master/src/main/groovy/com/ullink/MsbuildResolver.g

[2016-06-23 19:28] avgjoe77 commented on #67
I would be happy to create a PR for this, but I'm not exactly sure what the `jna` issue is, nor how to workaround it.  Other than, I see that `gradle` is using an older version.  Just update my wrapper on all projects using the `msbuild` plugin?

[2016-06-23 19:57] avgjoe77 commented on #67
Nevermind.  Although, I still see the issue in MsbuildResolver, this appears to be fixed in 2.14 elsewhere.  I'll just close this.

[2016-06-23 19:57] #67 closed

[2016-07-18 23:30] eatdrinksleepcode commented on #62
Is there any chance of getting a build with this fix pushed to Maven Central? I would like to be able to build IL Repack on OSX, for which this fix is required (gluck/il-repack#156).

[2016-07-19 13:49] gluck commented on #62
The 2.15 release has been done for some time (on bintray/gradle plugin repository), but the sync of maven central was missed (apparently), this is now fixed and sync'ed to maven central, though bintray is the recommended source of gradle plugins :)

Thx for noticing !

[2016-07-25 21:45] DKroot opened #68 "Regression in 2.13+: Builds fail with "the tools version is unrecognized" error."
I have a build that runs find with plug-in 2.12. I'm using VS 2015 and MS Build 14.0.

Here is my full msbuild configuration:

[code]

In 2.13+ builds fail with:

```Error during project file parsing: Microsoft.Build.Exceptions.InvalidProjectFileException: The tools version "14.1" is unrecognized. Available tools versions are "14.0", "2.0", "3.5", "4.0". ```

[2016-07-25 22:28] DKroot opened #69 "clean task does not clean msbuild output"
If I don't redefine `destinationDir` to be under `${buildDir}` then Gradle clean would not clean `msbuild` output

[2016-10-27 09:18] adescamps-ullink commented on #68
Hello,

I had the same issue until I changed the `ToolsVersion="12.0"` to `ToolsVersion="14.0"` in the csproj. This is because 12.0 is an unknown tools version so the plugin automatically bump to the tools version of MSBuild in the ProjectFileParser (i.e. 14.1).

Regards

[2016-11-18 19:58] jr4 opened #72 "exec hangs for hours after msbuild completes"
After the msbuild process ends (verified in task manager), the gradle process continues to hang.  Windows 7, VS 2013 or 2015, Java 8, Gradle 3.0 or 3.2.  No issues on Linux.

This is effectively a blocker for any nontrivial build.

Attaching jstack output.

Looks similar to a complaint about gradle here: https://discuss.gradle.org/t/weirdness-in-gradle-exec-on-windows/13660/6

[gradledaemonstack.t

[2016-11-21 08:27] gluck commented on #72
I verified and the build of [il-repack](https://github.com/gluck/il-repack) doesn't exhibit this behavior (feel free to confirm).
It's using gradle 2.9, JDK 8 and VS 2015.

If it's indeed related to msbuild passing its FD out to child processes, maybe it has something to do with your build env ?

[2016-11-21 23:31] jr4 commented on #72
Thanks for testing that, you're right, gradle 2.x seems to be ok.  I just tested my build using gradle 2.14.1 and had no problem.  But gradle 3.0 and 3.2 both hang consistently.

I see that the plugin uses project.exec for the build but not for the ProjectFileParser.  I changed the plugin code to avoid project.exec and use similar code in both cases.  It resolves this issue, so I'm confident there

[2016-11-22 11:29] gluck commented on #72
I tested 3.1 (with daemon) on il-repack, no issue, also tested 3.2 with `--no-daemon`, same.
Can you confirm ?

Using 3.2 with daemon is messy, lots of popups from each task exec, I suspect that's related to the recent changes to [DaemonMain](https://github.com/gradle/gradle/commits/master/subprojects/launcher/src/main/java/org/gradle/launcher/daemon/bootstrap/DaemonMain.java).

[2016-11-22 11:32] gluck commented on #72
Note that even though the behavior with Gradle 3.2 + daemon is a mess, I do not reproduce your issue, as the stackdump of the daemon after the build is clean of any msbuild ref.

[2017-02-10 11:55] Itzkwat commented on #68
Hello all,
I have just installed visual studio enterprise 2015 edition. I get the error attached when i tried to create a new project.
![2017-02-09 1](https://cloud.githubusercontent.com/assets/24810352/22825887/7175760e-ef44-11e6-9c37-94616b7cb55d.png)
I am new to visual studio and lost as to what to do next. Pls help

[2017-02-11 10:27] timotei commented on #68
@Itzkwat That doesn't seem to be from our plugin, but rather from the project you're trying to open :)

[2017-02-17 16:16] duongphuhiep commented on #68
I've got the same problem with 4.16

Error during project file parsing: Microsoft.Build.Exceptions.InvalidProjectFileException: The tools version "14.1" is unrecognized. Available tools versions are "14.0", "2.0", "3.5", "4.0".  D:\dev\Webservices\WonderLib\WonderLib.csproj
   at Microsoft.Build.Shared.ProjectErrorUtilities.ThrowInvalidProject(String errorSubCategoryResourceName, IElementLocation

[2017-02-21 18:08] MarcDahlem opened #74 "Feature request: Build multiple configurations"
At the moment it seems, that one must add a single configuration to the msbuild configuration block.

What I need is a task, which builds my visual studio solution with both configurations 'Release' and 'Debug', so that I can upload both artifacts to maven with one gradle call.

Therefore, I ask for a possibility to define multiple configurations in the msbuild configuration. e.g.:

[code]

I alre

[2017-02-22 08:07] gluck commented on #74
The `msbuild` gradle is simply a default task created of type `MSBuild`, as you can see [here](https://github.com/Ullink/gradle-msbuild-plugin/blob/master/src/main/groovy/com/ullink/MsbuildPlugin.groovy#L8) but you can create others:

    project.task('msbuild2', type: MSBuild) {
        configuration = 'Release'
    }

Gradle is not ant or make, you have a configuration phase before the execution

[2017-02-23 12:46] MarcDahlem commented on #74
Ah nice, I didn't check your code. Thanks a lot.

This solution works (mostly): Only the clear command does not clear the solutions output directories, then.

[2017-02-23 12:46] #74 closed

[2017-03-02 12:33] dtretyakov opened #75 "Add support of msbuild shipped with VS 2017+"
In VS 2017 has been changed way to register tools in the system and now each VS installation creates a file in `%ProgramData%\Microsoft\VisualStudio\Packages\_Instances\%installation_id%\state.json`.

In the `installationPath` we can retrieve a VS installation path and check MsBuild availability in the `MSBuild` directory.

[2017-03-09 15:37] gdurand commented on #75
As a workaround for other unforeseen changes like this one, I think the directory of MSBuild could be an optional plugin setting.

[2017-03-16 08:25] ngyukman commented on #68
Did you try to update the csproj's ToolsVersion as per @adescamps-ullink 's comment?

[2017-03-16 11:41] duongphuhiep commented on #68
No, I didn't.

Now I directly used command line `MSBuild.exe mysolution.sln` to build my solution

[2017-03-16 20:50] timotei commented on #68
@ngyukman @adescamps-ullink I think we should take the highest of *available*, or maybe the closest to the one requested 🤔

[2017-04-14 04:05] chazul opened #76 "No such property: projects for class: com.ullink.AssemblyInfoVersionPatcher_Decorated"
I modified the sample buildscript on your home page and at the bottom there is the following code:

assemblyInfoPatcher {
  ...
  projects = [ 'XZYProject' ]
}

When I looked at 'class AssemblyInfoVersionPatcher', 'fileVersion' and 'version' have a '@Input' but not the 'projects'. Could this be the reason? Or am I doing something wrong?

[2017-04-14 06:58] gluck commented on #76
No it shouldn't have such impact AFAIK. Most likely cause is that you're using an earlier version of the plugin when the projects property didn't exist, can you double check ?

[2017-04-15 04:04] chazul commented on #76
Yes it was the wrong version. But it was because I copied your example on the main page. Please correct the plugin version in that. The latest I found was 2.14 and it solved the issue.

dependencies {
        classpath "com.ullink.gradle:gradle-msbuild-plugin:2.14"
    }

[2017-04-18 08:42] gluck commented on #76
Done, note that 2.16 should be the latest, you can see the changes in the [CHANGELOG](https://github.com/Ullink/gradle-msbuild-plugin/blob/master/CHANGELOG.md)

[2017-04-18 08:42] #76 closed

[2017-04-20 13:23] ngyukman commented on #75
indeed for vs2017+ we need to get the correct msbuild relative to the installed visual studio
we should use https://github.com/Microsoft/vswhere/wiki/Find-MSBuild in order to get the msbuild (at least for windows)

[2017-05-10 10:10] sumesh-m opened #78 "MSBuild creating warning even if intermediateDir is end with slash"
I have one project in C++.
Output Directory set to $(SolutionDir)$(Configuration)\
Intermediate Directory to $(Configuration)\
Still i am getting warning in MSbuild log

Log:
=====
C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V110\Microsoft.CppBuild.targets(345,5): warning MSB8004: Intermediate Directory does not end with a trailing slash.  This build instance will add the slash as it is requ

[2017-09-12 06:50] Konstantin-Posudevskiy opened #80 "Support MSBuild 15"
# Problem
Currently, there is no possibility to build projects, with new format of 'csproj' file, shipped from .NET Core.
Build support of new project format came with [MSBuild 15](https://docs.microsoft.com/en-us/visualstudio/msbuild/what-s-new-in-msbuild-15-0).

See project example:
[code]

Now I receive next exception message:

That is exception stack:
[code]

[2017-09-12 08:32] gluck commented on #80
Yes, we probably need to upgrade the parser to some newer MSBuild tooling.
The nuget pkg we were using ( https://www.nuget.org/packages/MSBuild/ ) is now unlisted, no idea what it has been replaced by (if anything), if you (or anyone) have any clue.

Thx

[2017-09-12 08:40] ngyukman commented on #80
potentially #77 should help to migrate, but it was failing on linux due to the .Net Framework version

[2017-10-12 03:15] ngyukman commented on #75
Released with 2.17

[2017-10-12 03:15] #75 closed

[2017-10-19 13:50] krisztiankocsis opened #84 "Use msbuild instead of xbuild on Linux/MacOS"
Hi!

The current Mono system complains about the usage of xbuild due to deprecation. It also don't support all parameters that are supported by msbuild. Msbuild is the new recommended build tool for Mono.

Pls. consider defaulting to msbuild instead of xbuild on Linux and MacOS.

BTW, I need this feature so I'm willing to help if you give me some starting point.

[2017-10-25 01:37] ngyukman commented on #84
Hi @krisztiankocsis

thanks very much for your help
you may check https://github.com/Ullink/gradle-msbuild-plugin/blob/master/src/main/groovy/com/ullink/XbuildResolver.groovy for how xbuild is resolved currently

perhaps you can add a new LinuxMsbuildResolver and let XbuildResolver as fallback when msbuild is not found

[2018-03-07 20:08] saltatory commented on #80
I would love to have this as well.

[2018-03-19 15:16] Horcrux7 opened #90 "Error during project file parsing: Microsoft.Build.Exceptions.InvalidProjectFileException: The tools version "14.1" is unrecognized. Available tools versions are "2.0", "3.5", "4.0"."
After upgrading Visual Studio to version 2017 I receive the follow error:
[code]

With the follow debug lines:
[code]
I can see the right msbuild tool version 15 from VS 2017. But the tool ProjectFileParser.exe seems to use a different version of the tool. How can I solve the problem? How the msbuild.exe are searched in the tool ProjectFileParser.exe?

[2018-03-19 16:04] ngyukman commented on #90
Hi @Horcrux7 #77 is the an attempt to fix the issue, please feel free to comment and try out to see if that solves your issue

[2018-03-24 11:08] ngyukman commented on #90
gradle-msbuild-plugin 2.19 is released

[2018-03-24 11:08] #90 closed

[2018-03-24 11:09] ngyukman commented on #80
gradle-msbuild-plugin 2.19 is released

[2018-03-24 11:09] #80 closed

[2018-03-26 12:19] Horcrux7 commented on #90
I can not download the files from jcenter. There are no files: https://bintray.com/ullink/gradle-plugins/com.ullink.gradle%3Agradle-msbuild-plugin/2.19#files/com%2Fullink%2Fgradle%2Fgradle-msbuild-plugin

[2018-03-26 12:35] ngyukman commented on #90
I am sorry that the release has some problems and the file name is wrong, I have re-upload again

[2018-03-29 09:08] Horcrux7 opened #92 "Error 0x57: The "version" parameter is not supported\MSBuild"
With the new version 2.19 of the plugin on our build system we receive:

[code]
.....
[code]

[2018-03-29 11:58] Horcrux7 commented on #92
We can reproduce the same error also with version 2.18 and 2.17. With version 2.16 it work. It is not a regression in the latest version 2.19. Seems that some things in our server build environment is outdated. The question is what?

[2018-03-29 12:32] ngyukman commented on #92
Starting from 2.17 we use vswhere from https://github.com/Microsoft/vswhere in order to work with the latest manifold location

Can you try to see if you can get the path from that tool in your Jenkins server?

[2018-03-29 12:45] Horcrux7 commented on #92
I have try to execute vswhere manually on our build system. It returns only the logo.
If I call it with -legacy then I receive:

[code]

[2018-03-29 12:51] ngyukman commented on #92
https://github.com/Ullink/gradle-msbuild-plugin/blob/master/src/main/groovy/com/ullink/MsbuildResolver.groovy

Perhaps you have version set in your build.gradle manifold section?
That could be a bug indeed

[2018-03-29 15:43] Horcrux7 commented on #92
Yes, we use the version property because without not all of our old projects builds.

[2018-03-29 21:18] Horcrux7 commented on #92
Sorry, I have oversee you question because I have hold the browser open.

We does not have vswhere on this docker image. I can't find it. I think it exist first since VS 2015.

If you think that VS 2014 is to old to support it in the current version then this is ok. We want modernize our infrastructure. That I evaluate VS 2017. A better error message with a hint to an old plugin version would be n

[2018-04-28 11:03] ngyukman commented on #92
likely we should add `-legacy` when version <= 14.0 when invoking vswhere

[2018-05-02 12:15] #92 closed

[2018-06-08 21:28] Oddley commented on #84
This bug is blocking a project for me. It looks like there is a fix for it that hasn't been released yet. Is that going to be released anytime soon?

[2018-06-09 04:51] ngyukman commented on #84
Hi @Oddley the plugin has been released

[2018-06-09 04:52] #84 closed

[2018-06-09 05:12] Oddley commented on #84
So fast! Thanks so much!

[2018-07-12 10:51] imanushin opened #95 "MSBuild could not be found if .Net 4.7.1 SDK is installed"
Plugin is unable to find msbuild v15+ on computer with:
* MS VS 2017 Build Tools installed (e.g. Visual Studio is not installed, just Build Tools)
* .Net SDK 4.7.1 installed

In this case plugin finds MSBuild v14 only (e.g. it will unable to build short new csproj projects)

[2018-07-18 05:40] ngyukman commented on #95
hi, which version of gradle-msbuild-plugin are you using?
the latest version is new relying on [vswhere 2.4.1](https://github.com/Microsoft/vswhere/releases/download/2.4.1/vswhere.exe) to get the msbuild

could you please check if you can get the msbuild from vswhere ?

[2018-07-19 18:45] JamesPoli commented on #68
I've upgraded to com.ullink.gradle:gradle-msbuild-plugin:2.18 and am trying to build a simple vs2017 project (that, of course, builds in visual studio 17) and am getting the error above, i.e.;
**Error during project file parsing: Microsoft.Build.Exceptions.InvalidProjectFileException: The tools version "14.1" is unrecognized**
I too don't want to change a visual studio maintained file from ToolsVe

[2018-07-20 08:54] ngyukman commented on #68
hi @JamesPoli

can you upgrade to the latest?
There is a fix around the tools version in
https://github.com/Ullink/gradle-msbuild-plugin/releases/tag/2.19

[2018-07-20 11:01] JamesPoli commented on #68
Ok, will do!  I'll post back with the results.

[2018-07-20 17:46] JamesPoli commented on #68
Ng Yuk Man, that worked.  I believe it was a red herring though, I had VS2017 Professional and Enterprise installed on my machine, and only used the Professional version.  It appears code that looks for the VS version must have gotten mixed up.  I completely uninstalled all VS2017 versions and re-installed only VS2017 Professional and it's all good.

[2018-07-26 22:07] GuntherFox opened #96 "resolveProject() makes the assumption there is a main project"
When using the `getProjects()` method in `Msbuild`, there's a warning that a certain project doesn't exist _"Project ${projectName} not found in solution"_.  The constructor of `Msbuild` seems to be making the assumption that there is both a project and solution file with a name that matches whatever `project.name` resolves to but this isn't a standard convention with solution; the warning seems t

[2018-07-27 08:48] gluck commented on #96
This plugin assumes you're interested in building a particular project out of your solution (usually the main project, though it could be the unit test project as well), if it has a different name than your (gradle) project name, you can specify it with `msbuild { projectName = 'foobar'}`.
If you're only interested in building the solution, with no interest over a particular project, you can disab

[2018-07-29 10:49] imanushin opened #97 "Support Java 9"
Plugin uses gradle 4.2, which fails on computers with Java 9.0.1 only installed.

How to reproduce:
1. Clear gradle caches
2. Clone repository
3. Execute gradlew.bat build

Error:

[code]

[2018-07-29 10:57] imanushin commented on #95
@ngyukman, we are using the latest - 2.21

Will check soon ...

[2018-07-30 01:36] #97 closed

[2018-07-30 10:03] imanushin commented on #95
@ngyukman,

For vswhere 2.4.1 (executed in PowerShell):

[code]
For the latest vswhere (2.5.2):

[code]

Also: please note, that Gradle has private API for MSBuild location, please see here: https://github.com/gradle/gradle/blob/master/subprojects/ide-native/src/integTest/groovy/org/gradle/ide/visualstudio/fixtures/MSBuildVersionLocator.java

[2018-07-30 14:45] ngyukman commented on #95
thanks, the one from gradle looks like to be just testing code that it won't be part of the production for now, but if gradle provide is out of the box we can consider it, but we still have to also keep supporting legacy gradle version

Regarding to your issue, seems the result looks fine, so meaning the gradle plugin should able to find the msbuild path from https://github.com/Ullink/gradle-msbui

[2018-07-30 15:35] imanushin commented on #95
@ngyukman , yes, I set exact path to MSBuild folder and my builds work for now.

I'm using plugin with version 2.16

[2018-07-30 15:49] GuntherFox commented on #96
Alright, that seems like an easy workaround!  We're building collections of miscellaneous assemblies and don't have a _main project_.  Thank you for the response!

[2018-07-30 15:49] #96 closed

[2018-08-02 16:01] ngyukman commented on #95
@imanushin so what's the error without setting the exact path when using 2.21?

[2018-08-02 16:15] imanushin commented on #95
@ngyukman , please see below. Build did not find MSBuild 15 and failed:

[code]

[2018-08-03 11:30] imanushin commented on #95
Another option - possible it is better to check also environment variables below? TeamCity Agent sets them for all processes, so we can just reuse JetBrains lookup result:

| Environment | variable Sample |
| --- | --- |
| MSBuildTools12.0_x64_Path | C:\Program Files (x86)\MSBuild\12.0\bin\amd64 |
| MSBuildTools12.0_x86_Path | C:\Program Files (x86)\MSBuild\12.0\bin |
| MSBuildTools14.0_x64_Path |

[2018-08-05 13:42] ngyukman commented on #95
a bit strange that vswhere success but gradle-msbuild-plugin is not getting that value
would be nice to catch the log

or

from the [logic ](https://github.com/Ullink/gradle-msbuild-plugin/blob/4a6f101969649c32ed8182842a23a8f3ac809744/src/main/groovy/com/ullink/MsbuildResolver.groovy#L36)and your result it should be getting
`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild` a

[2018-08-08 14:58] DSwift510 opened #99 "msbuild error: attribute "Version" in element <PackageReference> is unrecognized."
Hi,

I'm trying to use this plugin to build a C#/.NET project, originally created in VS2017 using the
'gradle clean msbuild' command. I am using a Mac.

Here is my build.gradle file:

`plugins {
    id 'com.ullink.msbuild' version '2.19'
}

msbuild {
    solutionFile = 'csharp/Basic/Producer/DEBProducer/DEBProducer.csproj'
    targets = ['Clean','Rebuild']
}
`

Here is my gradle version
`gradle --

[2018-08-08 15:31] ngyukman commented on #99
May be the auto resolution not working very well on Mac as we don't have any Mac env
I have just updated the README, that shows you can use
[code]

to specify the location of msbuildDir

[2018-08-08 17:59] DSwift510 commented on #99
Thank you for that! it appears that it is searching for xbuild not msbuild.

when I run 'gradle clean msbuild' now after adding version = '15.0', I get:

`Task :msbuild FAILED

FAILURE: Build failed with an exception.

What went wrong:
Execution failed for task ':msbuild'.
Cannot find an xbuild binary. Is mono SDK installed? (Existing binaries: [/Library/Frameworks/Mono.framework/Versions/5.10.1/l

[2018-08-08 18:31] DSwift510 commented on #99
@ngyukman Is MsbuildResolver() windows only because vswhere is only available on windows?

[2018-08-09 02:16] ngyukman commented on #99
hi @DSwift510, can you try with the latest gradle-msbuild-plugin 2.21? in 2.20 it starts supporting msbuild instead of just xbuild in *nix environment

[2018-08-10 12:03] DSwift510 commented on #99
I appreciate the help! That's all it took, thank you for the help!

[2018-08-10 12:03] #99 closed

[2018-08-26 09:07] krisztiankocsis opened #101 "InvalidProjectFileException error during project file parsing"
Hi!

I've an issue during the execution of msbuild Build target, which was working with older VS versions before.

Environment:
* Windows 10 Pro 1803
* Visual Studio Community 2017 15.8.1

**This is important to us now, so I can provide help, also coding help if necessary!**

Error during project file parsing: Microsoft.Build.Exceptions.InvalidProjectFileException: Invalid static method invocation

[2018-08-26 09:14] ngyukman commented on #101
Hi @krisztiankocsis

it seems to be related to https://developercommunity.visualstudio.com/content/problem/311136/update-to-1580-projects-wont-load.html

[2018-08-26 10:34] krisztiankocsis commented on #101
Thanks, it did help, but I had to install all DLLs in MSBuild directory, even if it was not recommended...

[2018-08-27 12:41] ngyukman commented on #101
I am not sure but I guess there is some misconfiguration in the system previously

[2018-08-27 12:41] #101 closed

[2018-10-05 09:51] timotei commented on #99
@DSwift510 on Mac you usually install the mono framework. Isn't that your case also?

[2018-10-29 19:10] darkhax opened #102 "Exception when trying to build with Jenkins on debian."
Hello, I am trying to use this plugin to automate builds with Jenkins on a debian server. I can build the project fine from the command line using the xbuild command, however when I try to use this gradle plugin to automate things it throws an exception. Does anyone have any idea why I am getting this error, and what steps I could take to fix it?

[code]

[code]

[2018-10-31 15:05] darkhax commented on #102
Fixed this issue, it was caused by using an older version of Mono, updating to latest fixed this.

[2018-10-31 15:05] #102 closed

[2018-11-26 17:45] Thunderforge commented on #74
For the benefit of anybody going down the same rabbit hole I went down, you have to add `import com.ullink.Msbuild` before this will work.

Full solution:
[code]

[2018-12-24 08:08] QianCheng40 commented on #101
Hello @krisztiankocsis could you share more details on how you fixed this issue? I'm facing exactly the same issue.

[2018-12-24 08:11] ngyukman commented on #101
hi @QianCheng40 did you try the solution in https://developercommunity.visualstudio.com/solutions/311740/view.html ?

[2018-12-24 08:19] QianCheng40 commented on #101
Hi @ngyukman  thanks for quick reply. I don't have Microsoft.Build.* assemblies in GAC so no need to run those "gacutil \u" commands I assume.

I have both VS2015 and VS2017 installed on my machine. The solution I'm trying to build was created by VS2015 so I also tried:

msbuild {
    version = "14.0"
}

but still got the same error (where VS2017 tools still seem to be used)

[2018-12-25 06:37] QianCheng40 commented on #101
Fixed by installing those assemblies (and System.Collections.Immutable.dll) in GAC now.

[code]

Ideally, the ProjectFileParser shouldn't have to load those assemblies from GAC.

Thanks & Regards

[2019-02-05 13:06] haimadrian opened #110 "Support more fields at AssemblyInfoVersionPatcher task"
Hi,

Currently, AssemblyInfoVersionPatcher supports customizing those fields:
1. AssemblyVersion
2. AssemblyFileVersion
3. AssemblyInformationalVersion
4. AssemblyDescription

There are additional fields I would like to customize as part of product build:
5. AssemblyTitle
6. AssemblyCompany
7. AssemblyProduct
8. AssemblyCopyright
9. AssemblyTrademark

Is it possible to modify or extend current Ass

[2019-02-06 08:55] haimadrian commented on #110
Hi and thanks for the reply.
Let's take for example AssemblyCopyright, where I want to update the year based on current year.
The other fields are required for the assemblies to be updated based on the product that ship them. I have 4 different products shipping the assemblies as a driver, and I want the assembly title, trademark, etc. to get updated according to the product's name.

I could use T

[2019-02-07 10:55] ngyukman commented on #110
thanks for your clarification, imo adding additional input parameter to AssemblyInfoVersionPatcher is better than a map

[2019-03-07 05:18] #110 closed

[2019-03-12 12:50] kkalisz opened #113 "Could not find matching constructor for: com.ullink.PosixMsbuildResolver(String)"
I specified msbuild version in my build gradle, everything is working fine on Windows machine.
But when I try build my project on macos exception occurs.

[code]

It looks like internally PosixMsbuildResolver is using VersionNumber class, but passed parameter is String.

[2019-03-20 08:06] kkalisz commented on #113
Can be closed as https://github.com/Ullink/gradle-msbuild-plugin/pull/114 is merged.

[2019-03-20 11:52] #113 closed

[2019-05-06 09:12] Bodmoor commented on #95
I had a similar issue where after installing Visual Studio 2019, MSBuild was no longer found. I was using version 3.1, and changing that to 3.6 solved the issue for me.

[2019-05-06 09:19] ngyukman commented on #95
the issue for visual studio 2019 was just fixed in 4d8779590f5d8a77d5a90e5b99053cf038d9ab9f

not sure if the fix also fixing this issue, closing it and feel free to create a new issue about this problem, and providing the chosen and expected msbuild path

[2019-05-06 09:19] #95 closed

[2019-07-25 18:23] svermeulen commented on #11
For newer versions of msbuild you can specify 'restore' as a target.  For example:

[code]

[2019-09-10 03:22] roshangautam commented on #28
FYI, this is back @tekuser @gluck. The binary is put in users temp folder and if there is a controlled security policy (managed by IT) which do not allow executing binaries from temp folder this causes problems

[2019-09-10 15:57] timotei commented on #28
@roshangautam are you using the latest version which contains the fix? We're using gradle's temporary directory now, but maybe it's still generating in the temp directory upon whatever reasons? The documention is not very clear on where the provided temp directory resides

[2019-09-10 19:47] tekuser commented on #28
I did a fix to put the binary in the plugin directory but it seems that the commit below rolled back to use the user temp directory:
https://github.com/Itiviti/gradle-msbuild-plugin/commit/ad1ab3a5f1097b882bbeff7cb2a70914c5d100b6

file: src/main/groovy/com/ullink/Msbuild.groovy
line 76:
File tempDir = Files.createTempDirectory('ProjectFileParser').toFile()

It is not a good idea to extract an exe

[2019-09-15 18:03] roshangautam commented on #28
@timotei Yes, I am using the latest version. Like @tekuser said the fix has been reverted by the above mentioned commit.

[2019-10-07 16:30] citizenmatt opened #117 "msbuild task does not specify any outputs"
The README states:

But when run, the task is found to be not up-to-date because "Task has not declared any outputs despite executing actions".

Is this expected behaviour? Is there an extra step required to register outputs? And if so, will this mean that with inputs/outputs registered, Gradle will do an up-to-date check without having to call msbuild directly?

[2019-11-01 05:07] ngyukman commented on #117
Hi

To allow up-to-date check we should use the incremental build from msbuild (gradle does not understand msbuild's artifact)

[2020-08-03 22:07] lmendez-pros opened #121 "msbuild task fails to revolve msbuild in linux because first tries to find mono`"
I tested the plugin on an GoCD agent with Net framework installed and the plugin seems to fail to resolve the location because it first tries to find mono binary location and since it's not installed it fails right away without even trying to find the msbuild.dll.

executing which mono command at the beginning is causing the plugin to fail without looking for other possible locations to run msbuil

[2021-03-08 19:01] sreesake opened #122 "Unable to execute gradle msbuild task"
I am running gradle 6.4.1 and trying to use older version 2.9 of gradle-msbuild-plugin. It's a limitation due to corporate firewall.

When I execute gradle msbuild, I keep having error saying
Cannot cast object 'null (Output)' with class 'org.gradle.api.internal.tasks.DefaultTaskOutputFilePropertyRegistration' to class 'org.gradle.api.tasks.TaskOutputs'
![error](https://user-images.githubuserconte

[2021-06-09 12:34] freudi74 opened #123 "Locating MSBUILD fails if multiple installed versions match version range"
I know you claim the project deprecated in favor of the dotnet plugin, but I find it very useful to build MSVC++ projects from gradle.
I have recently encountered a problem, though.

When you select a version range, and multiple installed versions that are detected by vswhere satisfy that version range, then the plugin fails. Root cause seems to be, that when setting a version, the MSBuildResolver

[2021-06-10 14:34] ngyukman commented on #122
hi @sreesake

not sure if you still have this issue in latest version, but if that's the case can you try with `--stacktrace` to see where is the problem?
it seems to be related to line 25 in build.gradle

[2021-06-10 14:38] ngyukman commented on #123
hi @freudi74

the plugin doesn't really support a version range when specified in the msbuild version
as per code if the version is not specified it take the latest already which should suit most of the use case
what is the reason behind having both version range in the build.gradle while couldn't just use latest?

[2021-06-22 16:44] PedroWitzel opened #124 "Gradle 7 warnings - Properties aren't not annotated"
There are no properties annotated on MSBuild class, which is a deprecated behaviour on Gradle 7.0

Here follows the warning message:
`Property '*' is not annotated with an input or output annotation. This behaviour has been deprecated and is scheduled to be removed in Gradle 7.0.`

They should be annotated with @Input, @Internal, @Optional or @Output.

[2021-06-23 13:22] #124 closed

[2021-06-23 13:25] ngyukman commented on #123
thanks for your explanation

[2021-06-23 13:26] #123 closed

[2021-06-23 13:27] ngyukman commented on #123
Fixes in https://github.com/Itiviti/gradle-msbuild-plugin/commit/bccd066669b7a33b025f1d68ece53722087279c3

[2021-07-15 12:34] chittiraju opened #126 "Compiling cpp sln files"
Hi,

I am trying out msbuild for c++ visual studio project it gives me some errors.

[code]

does it support cpp visualstudio sln?

[2021-07-15 12:36] chittiraju commented on #126
[code]

[2021-07-16 06:12] chittiraju commented on #126
I'm using gradle 7.1

[2021-07-16 09:38] chittiraju commented on #126
When i use older gradle versions 6.x it works fine.

Can you please fix it for gradle 7.x as well

[2021-07-20 02:11] ngyukman commented on #126
hi @chittiraju  it is duplicate of #124 and it has been fixed in #125 and just released

[2021-07-20 02:11] #126 closed

[2021-07-21 13:23] Lizalex-Systems opened #127 "parameters.RestorePackages.config appears to be ignored"
Microsoft (R) Build Engine version 16.10.2+857e5a733 for .NET Framework
Gradle 7.0.2

I have an ASP.NET project in the solution that cannot convert to package reference so I need to pass in RestorePackagesConfig - but this seems to be ignored and packages are not restored and build fails. Is the syntax incorrect (below) or is that property not supported ?

plugins {
	id 'com.ullink.msbuild' versio

[2021-07-21 13:39] ngyukman commented on #127
hi @Lizalex-Systems

for restoring packages, please use https://github.com/Itiviti/gradle-nuget-plugin, it has a nugetRestore task that you could leverage for that purpose

[2021-07-21 13:39] #127 closed

[2021-10-19 10:27] jtrillos opened #128 "HELP gradle-msbuild-plugin:3.9 does not exist on maven repository"
last week I downloaded the last version available on Maven Repository and it works fine.
Today I updated another library into my project and Gradle noticed that there no POM available for this version.

What is going on?  Can someone explain me
[code]

[2021-10-19 10:36] ngyukman commented on #128
Hi @jtrillos can you please check in https://plugins.gradle.org/plugin/com.ullink.msbuild ?
it is now no longer released on maven central

[2021-10-19 13:33] ngyukman commented on #128
sure

[2022-07-28 19:28] Renari opened #132 "Updating to 3.15 seems to break without msbuild."
[code]

[2022-08-02 01:40] ngyukman commented on #132
Hi, could you elaborate more?
It is expected that msbuild is mandatory